@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ml-300{
  margin-left:300px;
}

.ml-500{
  margin-left:500px;
}

.mr-30{
  margin-right:140px;
}

input,
select,
textarea{
@apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}
